
<div><ul>
<table border = "1">
  <tr>
    <td>
      <p>  Name: <%= @contact.name %>  </p>
    </td>
    <td>
      <p>  Age: <%= @contact.age %>  </p>
    </td>
    <td>
      <p>  Sex: <%= @contact.sex %>  </p>
    </td>
  </tr>
</table>
<table>
  <tr><ul>
    <% @comments.each do |comment| %>
    <li>
      <p> <%= comment.note %></p>
      <p> <%= comment.time %></p>
      <a href="/users/<%= @user_id %>/comments/<%= comment.id %>?action=edit"><button type = "button">Edit a comment</button></a>
      <a href="/users/<%= @user_id %>/comments/<%= comment.id %>?action=remove"><button type = "button">Remove a  comment</button></a>
    </li>
    <% end %>
  </ul>
  </tr>
 </table>
 <table>
  <tr>

    <td>
      <a href="/comment_form/<%= @user_id %>"><button type = "button">Add a comment</button></a>
    </td>
    <td>
      <a href="/users?u=<%= @user_id %>"><button type = "button">View the list of Makers</button></a>
    </td>
  </tr>
</table>
</div></ul>

